<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>825473105125-ag7d6njpase9ljsroqev2rt6h8rkpc60.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.825473105125-ag7d6njpase9ljsroqev2rt6h8rkpc60</string>
	<key>API_KEY</key>
	<string>AIzaSyBFTwqFgCXH4W5LVuBJ-jbEa1eSxSrflU8</string>
	<key>GCM_SENDER_ID</key>
	<string>825473105125</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.demoApp</string>
	<key>PROJECT_ID</key>
	<string>ycompany-e6caf</string>
	<key>STORAGE_BUCKET</key>
	<string>ycompany-e6caf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:825473105125:ios:d884ee3c14ece945c0680c</string>
</dict>
</plist>